<p style="margin-top: 30px; text-align: left; font-size: 16px;">Biblio is an online bookstore, made by:</p>
<mat-grid-list cols="3" rowHeight="16:9">
    <mat-grid-tile>
        <ul>
            <li><img class="photo" src="assets/nada.jpg"></li>
            <li><p>Nada Knani</p></li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <ul>
            <li><img class="photo" src="assets/omar.jpg"></li>
            <li><p>Mohamed Omar Amini</p></li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <ul>
            <li><img class="photo" src="assets/nassim.jpg"></li>
            <li><p>Mohamed Nassim Ladhar</p></li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <ul>
            <li><img class="photo" src="assets/camelia.jpg"></li>
            <li><p>Camelia Ben Laamari</p></li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <ul>
            <li><img class="photo" src="assets/chaima.jpg"></li>
            <li><p>Chaima Beldi</p></li>
        </ul>
    </mat-grid-tile>
    <mat-grid-tile>
        <ul>
            <li><img class="photo" src="assets/rouwayda.jpg"></li>
            <li><p>Rouwayda Elouni</p></li>
        </ul>
    </mat-grid-tile>
</mat-grid-list>